<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Primeiro Projeto</title>
    <meta charset="UTF-8">

</head>
<body>
    

    {{>_navbar}}
    
    {{{body}}}

</body>
</html>