

{{#each postagens}}
<ul>
<li>
    <h3 class="mt-4">{{title}}</h3>
    <p class="text-justify">{{content}}</p>
    <a href="/deletepost/{{id}}"><input type="button" value="Apagar"></a>
    <hr>
</li>
</ul>
{{/each}}