<div class="mx-auto" style="width: 80%;">
<form style="width: 60%;" action="/newpost" method="post">
    <div class="form-group mb-3">
        <label class="lead" for="titulo">Título: </label>
        <input class="form-control" type="text" name="titulo" id="titulo">
    </div> 
    <div class="form-group mb-3">
        <label class="lead" for="conteudo">Conteudo: </label>
        <input class="form-control" type="text" name="conteudo" id="conteudo">

        
    </div>
    <div class="text-right">
    <input type="submit" class="btn btn-primary" value="Enviar">
    </div>
</form>
</div>